<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/security">
<head th:with="pageTitle='Home'" th:include="main::head"></head>

<body>
<div class="container-fluid">
	<div th:substituteby="main::navigation"></div>

	<h1>Aggregate Data Drug Information System</h1>
   
	<p sec:authorize="!isAuthenticated()">Please <a th:href="@{/auth/login}">log in</a> to proceed.</p>
	<p sec:authorize="isAuthenticated()">Welcome to ADDIS 2.0!
    <a th:href="@{/projects}">Proceed to projects.</a></p>
  
	<p></p>
	</div>
<footer th:include="main::footer"></footer>
</body>
</html>