<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:with="pageTitle='Login'" th:include="main::head"></head>

<body>

<div class="container-fluid">
	<div th:substituteby="main::navigation"></div>
	
	<h1>Login</h1>
	<div id="login-error" th:text="${error}"></div>
	
	<p>
		<img th:src="@{/resources/img/openidlogosmall.png}" />
		Login with OpenID:
	</p>
	<form th:action="@{/j_spring_openid_security_check}" method="post" >
		<label for="openid_identifier">OpenID Login</label>:
		<input id="openid_identifier" name="openid_identifier" type="text"/>
		<input  type="submit" value="Login"/>
	</form>
	
	<hr/>
	
	<img th:src="@{/resources/img/google-logo.png}"></img>
	<form th:action="@{/j_spring_openid_security_check}" method="post">
		For Google users:
		<input name="openid_identifier" type="hidden" value="https://www.google.com/accounts/o8/id"/>
		<input type="submit" value="Sign with Google"/>
	</form>
	
	<footer th:include="main::footer"></footer>
</div>
</body>
</html>