<!DOCTYPE html> 

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/security">
<head th:fragment="head">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:inline="text">ADDIS 2 &mdash; [[${pageTitle}]]</title>
	<link rel="icon" type="image/png" th:href="@{/resources/favicon.png}" />
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" media="screen" />
	<link rel="stylesheet" th:href="@{/resources/css/select2.css}" media="screen" />
	
	<!-- clickjacking protection https://www.owasp.org/index.php/Clickjacking -->
	<style id="antiClickjack">body{display:none !important;}</style>
	<script type="text/javascript">
	   if (self === top) {
	       var antiClickjack = document.getElementById("antiClickjack");
	       antiClickjack.parentNode.removeChild(antiClickjack);
	   } else {
	       top.location = self.location;
	   }
	</script>
</head>
<body>

<div class="navbar" th:fragment="navigation">
	<div class="navbar-inner">
		<a class="brand" href="#">ADDIS 2.0</a>
		<ul class="nav">
			<li><a th:href="@{/}">Home</a></li>
			<li sec:authorize-url="@{/projects}"><a th:href="@{/projects}">Projects</a></li>
		</ul>
		<ul class="nav pull-right">
			<li class="divider-vertical"></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Account
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a sec:authorize="!isAuthenticated()" th:href="@{/auth/login}">Login</a></li>
					<li><a sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<footer th:fragment="footer">
	<script th:src="@{/resources/js/vendor/jquery-1.9.1.js}" src="//code.jquery.com/jquery.js"></script>
	<script th:src="@{/resources/js/vendor/bootstrap.js}" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/resources/js/vendor/angular.js}" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script th:src="@{/resources/js/vendor/angular-ui.min.js}" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script th:src="@{/resources/js/vendor/select2.min.js}" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.3.2/select2.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	    window.config = {};
		window.config.dataUrl = [[@{/data}]];
	/*]]>*/
	</script>
	<script th:src="@{/resources/js/app.js}"></script>
	<script th:src="@{/resources/js/services.js}"></script>
	<script th:src="@{/resources/js/directives.js}"></script>
</footer>

</body>
</html>