<!DOCTYPE html>
<html ng-app="addis" xmlns:th="http://www.thymeleaf.org" th:with="pageTitle='Project: ' + (${projectName}?: 'untitled')">
<head th:include="main::head"></head>
<body ng-controller="AnalysesController">
  <div class="container-fluid">
    <div th:substituteby="main::navigation"></div>
    <h2 th:text="${pageTitle}"></h2>
    <div ng-repeat="alert in alerts" ng-cloak="">
      <div class="{{alert.type}} alert">
        {{alert.msg}}<a href="#" class="close" data-dismiss="alert">&times;</a>
      </div>
    </div>
    <div th:include="projects/edit :: [//div[@id='project-navigation']]" th:with="activeTab='analyses'"></div>
   <select ng-model="outcome">
   	<option value="">-- Select outcome --</option>
   	<option ng-repeat="(k, outcome) in outcomes" value="{{k}}">{{outcome.name}}</option>
   </select>
    <div class="row">
      <div class="accordion span6" id="accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#studyData">Show study
              data</a>
          </div>
          <div id="studyData" class="accordion-body collapse">
            <div class="accordion-inner">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Study</th>
                    <th>Arm</th>
                    <th>Intervention</th>
                    <th ng-show="analyses[outcome].type == 'dichotomous'">Rate</th>
                    <th ng-show="analyses[outcome].type == 'continuous'">Mean</th>
                    <th ng-show="analyses[outcome].type == 'continuous'">Standard deviation</th>
                    <th>Sample size</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="measurement in analyses[outcome].measurements">
                    <td>{{measurement.studyId}}</td>
                    <td>{{measurement.armName}}</td>
                    <td>{{interventions[measurement.intervention].name}}</td>
                    <td ng-show="analyses[outcome].type == 'dichotomous'">{{measurement['rate']}}</td>
                    <td ng-show="analyses[outcome].type == 'continuous'">{{measurement['mean']}}</td>
                    <td ng-show="analyses[outcome].type == 'continuous'">{{measurement['standard deviation']}}</td>
                    <td>{{measurement['sample size']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /#studyData -->
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#settings">Show MCMC settings</a>
          </div>
          <div id="settings" class="accordion-body collapse">
            <div class="accordion-inner">
              <label>Number of iterations</label><input type="number" ng-model="params.n_iter" placeholder="20000" /><br />
              <label>Number of adapt iterations</label><input type="number" ng-model="params.n_adapt" placeholder="5000" /><br />
              <label>Factor</label><input type="number" ng-model="params.factor" placeholder="2.5" /><br />
              <label>Thinning</label><input type="number" ng-model="params.thin" placeholder="1" />
            </div>
          </div>
        </div>
      </div>
      <div class="span5 offset1">
        <div ng-show="analyses[outcome].status" class="{{analyses[outcome].status.status}} well">
          <strong>Status:</strong> {{analyses[outcome].status.status}}<br /> <span ng-show="analyses[outcome].status.completed">
            <strong>Finished at:</strong> {{analyses[outcome].status.completed}}<br />
          </span> <span ng-show="analyses[outcome].status.cause"><strong>Cause:</strong> {{analyses[outcome].status.cause}}<br /></span>
        </div>
        <button class="btn btn-primary" ng-click="runGeMTC(outcome)" ng-disabled="!analyses[outcome].measurements">Run analysis</button>
        <pre ng-show="false">{{analyses[outcome].consistency|json}}</pre>
      </div>
    </div>
    <div class="row" ng-show="analyses[outcome].consistency">
      <div class="span12">
      <h4>Results</h4>
      <p>Results of the consistency model.</p>
        <div class="row">
          <div class="span6">
            <h5>Convergence Diagnostics</h5>
          
            <p><em>PSRF table:</em>
            The <em>potential scale reduction</em> factor is calculated for each
            variable in <em>x</em>, together with upper and lower confidence limits.
            Approximate convergence is diagnosed when the upper limit is close to 1.
            </p>
            <table class="table table-bordered table-condensed table-striped">
              <thead>
                <tr ng-repeat="(row, cols) in analyses[outcome].consistency.body['psrf']" ng-show="$first">
                  <td>&nbsp;</td>
                  <td ng-repeat="(name, col) in cols">{{name}}</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(row, cols) in analyses[outcome].consistency.body['psrf']">
                  <td>{{row}}</td>
                  <td ng-repeat="(name, col) in cols">{{col | precision: 3}}</td>
                </tr>
              </tbody>
            </table>
          </div> <!-- /.span6 (psrf) -->
        </div> <!-- /.row -->
        <div class="row">
          <div class="span12">
            <h5>Summary</h5>
            <div class="row">
              <div class="span5">
                <object width="350" height="350" data="{{analyses[outcome].consistency['_embedded']['_files'].forest_vec.href}}" type="image/svg+xml">
                  <img ng-src="{{analyses[outcome].consistency['_embedded']['_files'].forest.href}}" />
                </object>
                <p>
                  <em>Forest plot: </em> A forest plot for some baseline
                </p>
              </div>
              <div class="span5 offset1">
                <object width="350" height="350" data="{{analyses[outcome].consistency['_embedded']['_files'].ranks_vec.href}}" type="image/svg+xml">
                  <img ng-src="{{analyses[outcome].consistency['_embedded']['_files'].ranks.href}}" />
                </object>               
                <p>
                  <em>Rank plot: </em> 
                  For each MCMC iteration, the treatments are ranked by their effect
                  relative to an arbitrary baseline. A frequency table is
                  constructed from these rankings and normalized by the number of
                  iterations to give the rank probabilities.
                </p>
              </div>
            </div>
          <div class="row">
            <div class="span10">
            <style>.re-treatment { background-color: #F9F9F9; font-weight: bold; }</style>
            <table class="table table-bordered table-condensed">
              <tr ng-repeat="treatment1 in analyses[outcome].consistency.body.treatments">
                <td ng-repeat="treatment2 in analyses[outcome].consistency.body.treatments" ng-class="{'re-treatment': treatment1.id == treatment2.id}">
                  <span ng-show="treatment1.id == treatment2.id">{{treatment1.description}}</span>
                  <span ng-init="re = analyses[outcome].consistency.body['relative_effects'][treatment1.id][treatment2.id]" ng-show="re">
                    {{re['50%'] | precision: 3}} ({{re['2.5%'] | precision: 3}}, {{re['97.5%'] | precision: 3}})
                  </span>
                </td>
              </tr>
            </table>
            <p><em>Relative effects</em></p>
            </div>
          </div>
          </div>
        </div>
      </div> <!-- /.span12 -->
    </div> <!-- /.row -->
  </div>
  <footer th:include="main::footer"></footer>
  <script th:src="@{/resources/js/controllers/analyses_controller.js}"></script>
</body>
</html>