<!DOCTYPE html>
<html ng-app="addis" xmlns:th="http://www.thymeleaf.org" 
	th:with="pageTitle='Project: ' + (${projectName}?: 'untitled')">
<head th:include="main::head"></head>

<body ng-controller="AnalysesController">
<div class="container-fluid">
	<div th:substituteby="main::navigation"></div>

	<h2 th:text="${pageTitle}"></h2>
	<div ng-repeat="alert in alerts" ng-cloak="">
	  	<div class="{{alert.type}} alert">{{alert.msg}}<a href="#" class="close" data-dismiss="alert">&times;</a></div>
  	</div>
  	
  	<div th:include="projects/edit :: [//div[@id='project-navigation']]" th:with="activeTab='analyses'"></div>

  	<table class="table table-condensed">
  	<thead>
  		<tr>
  			<th>Study</th>
  			<th>Arm</th>
  			<th>Intervention</th>
  			<th ng-show="measurements[0]['rate']">Rate</th>
  			<th ng-show="measurements[0]['mean']">Mean</th>
  			<th ng-show="measurements[0]['standard deviation']">Standard deviation</th>
  			<th ng-show="measurements[0]['sample size']">Sample size</th>
  		</tr>
  		</thead>
  		<tbody>
  		<tr ng-repeat="measurement in measurements">
  			<td>{{measurement.studyId}}</td>
  			<td>{{measurement.armName}}</td>
  			<td>{{interventions[measurement.intervention].name}}</td>
  			<td ng-show="measurement['rate']">{{measurement['rate']}}</td>
  			<td ng-show="measurement['mean']">{{measurement['mean']}}</td>
  			<td ng-show="measurement['standard deviation']">{{measurement['standard deviation']}}</td>
  			<td ng-show="measurement['sample size']">{{measurement['sample size']}}</td>
  		</tr>
  		</tbody>
  	</table>

	<footer th:include="main::footer"></footer>
</div>
<script th:src="@{/resources/js/controllers/analyses_controller.js}"></script>

</body>
</html>