<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="pageTitle='Edit Project'">
<head th:include="main::head">
</head>
<body>
<h1 th:text="${pageTitle}"></h1>

<form intercept="" th:action="@{.}" method="POST" th:object="${project}">
	<input th:field="*{shortName}" type="text" />
	<select th:field="*{population.indication}"></select>
	<input type="submit" />
</form>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script th:inline="text">
window.dataUrl = "[[@{/data}]]";
</script>
<script th:src="@{/resources/js/indications.js}"></script>

</body>
</html>