<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="pageTitle='Projects'">
<head th:include="main::head"></head>

<body>
<div class="container-fluid">
	<div th:substituteby="main::navigation"></div>

	<h1 th:text="${pageTitle}"></h1>
	
	<ul th:each="project : ${projects}">
		<li><span th:text="${project.shortName}"></span> <a th:href="@{'/projects/' + ${project.id} + '/edit'}">[edit]</a></li>
	</ul>
	
	<form intercept="" action="" method="POST">
		<button class="btn btn-primary">New Project</button>
	</form>
	
	<footer th:include="main::footer"></footer>
</div>
</body>
</html>