<!DOCTYPE html>
<html ng-app="addis" xmlns:th="http://www.thymeleaf.org" th:with="pageTitle=${'Project: ' + project.shortName}">
<head th:include="main::head"></head>

<body ng-controller="PopulationsController">
<div class="container-fluid">
	<div th:substituteby="main::navigation"></div>

	<h2 th:text="${pageTitle}"></h2>
	<div  ng-repeat="alert in alerts" ng-cloak="">
	  	<div class="{{alert.type}} alert">{{alert.msg}}<a href="#" class="close" data-dismiss="alert">&times;</a></div>
  	</div>
  	
  	<ul class="nav nav-tabs">
	  	<li><a th:href="@{./edit}">Overview</a></li>
	  	<li class="active"><a th:href="@{./studies}">Studies</a></li>
	  	<li><a href="#">Analysis</a></li>
  	</ul>
  	

	<footer th:include="main::footer"></footer>
</div>
</body>
</html>